<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
    <ion-button slot="end" (click)="exportJSON()">
      Export JSON
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" color="tertiary" (click)="openAndroid()">File Chooser android</ion-button>

  <ion-button expand="full" color="danger" (click)="openIOS()"> open file ios  </ion-button>

  <!-- <ion-button expand="full" color="primary" (click)="nativeChooser()"> native android chooser  </ion-button> -->

</ion-content>